/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('src/assets/images/disney.PNG');
  background-size: cover;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.left-content {
  min-height: 100px; /* Set a minimum height for the left content to prevent overlap */
  flex-grow: 1; /* Allow elements inside left-content to grow and take available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}


.right-content {
  color: cyan;
  text-align: center;
}

h1 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  color: darkorange;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.login-link {
  display: block;
  color: lightyellow;
  background-color: #333;
  padding: 10px 20px;
  margin-bottom: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

/* Media queries for responsiveness */
@media screen and (min-width: 768px) {
  .homepage-container {
    flex-direction: row;
    padding: 40px;
    text-align: left;
  }

  .left-content {
    flex: 1;
    padding-right: 20px;
    min-height: unset; /* Reset the minimum height for larger viewports */
  }
  .left{
    flex-direction: column;
    padding-right: 10px;
    min-height: unset;
  }

  .right-content {
    flex: 1;
    text-align: right;
    padding-left: 20px;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }

  .login-link {
    display: inline-block;
    margin-right: 10px;
  }
}
