<div class="navbar">
  <a class="navbar-brand" routerLink="/">SareeFirm</a>
  <div class="navbar-search">
    <input type="text" class="search-input" placeholder="Search...">
    <button class="btn btn-primary">Search</button>
  </div>
  <div class="cart-icon">
    <button class="btn btn-primary" (click)="addNewProduct()" *ngIf="userType == 'MainOwner'">newProduct</button>
  </div>
  <div class="cart-icon" *ngIf="userType == 'BranchOwner'">
    <i class="fas fa-shopping-cart" routerLink="/CartComponent"></i>
    <span class="cart-count" [innerText]="cartItemCount"></span>
    
  </div>
</div>


<div *ngFor="let product of productData">
  <div class="common-details">
    <div class="row row-md">
      <div class="col-md-6">
          <div class="row">
              <div class="col-8 col-md-12"><h2 style="color: chocolate;">{{ product.Product_name }}</h2></div>
              <span class="col-4 col-md-12"><a href="#" class="btn btn-danger smbtn">Add New Variant</a></span>
          </div>
      </div>
    </div>  
    <p style="color: darkgreen;">{{ product.Description }}</p>
    <p>Fabric: {{ product.Fabric }}</p>
    <p>Price Range: {{ product.Price_range }}</p>
  </div>
  <div class="movies-list">
    <div class="carousel-container">
      <div class="carousel-inner">
        <div class="card" *ngFor="let variant of product.Varients">
          <img src="../assets/images/poster 14.jpg" class="card-img" alt="saree photo">
          <div class="card-body">

            <h4 class="card-text" [ngStyle]="{ color: variant.Color}" style="font-weight: bolder; font-size: larger;">
              <span class="highlight">Color:</span> {{ variant.Color }} <span
                [ngStyle]="{ 'background-color': variant.Color }" class="color-circle"></span></h4>
            <h4 class="card-text"><span class="highlight">Design:</span> {{ variant.Design }}</h4>
            <h4 class="card-text"><span class="highlight">Qty-Available:</span> {{ variant.Quantity_Available }}</h4>
            <h4 class="card-text"><span class="highlight">Price:</span> {{ variant.Price }}</h4>
            <div class="d-flex justify-content-between align-items-center" *ngIf="userType == 'BranchOwner'">
              <a class="btn btn-primary"
                (click)="addToCart(product.Product_name, product.Product_Id, variant.Color, variant.Price)">Add to
                cart</a>
              <a href="#" class="btn btn-danger">Out of stock</a>
            </div>
            <div class="d-flex justify-content-between align-items-center" *ngIf="userType == 'MainOwner'">
              <a class="btn btn-primary" (click)="updateProducts(product.Product_Id, variant.Color)">Update Product</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Rest of the modal content (same as before) -->
<!-- <h1>this is popup</h1> -->

<!-- Modal for addToCart form -->
<div class="modal" tabindex="-1" [class.show]="showModal" [class.d-block]="showModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">Add to Cart</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="productId">Product ID</label>
            <input type="text" class="form-control" id="productId" name="productId" [(ngModel)]="productId" readonly>
          </div>
          <div class="form-group">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" id="productName" name="productName" [(ngModel)]="productName"
              readonly>
          </div>
          <div class="form-group">
            <label for="color">Color</label>
            <input type="text" class="form-control" id="color" name="color" [(ngModel)]="color" readonly>
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="quantity" required
              min="1">
          </div>
          <div class="form-group">
            <label for="totalAmount">Total Amount</label>
            <input type="text" class="form-control" id="totalAmount" name="totalAmount" [(ngModel)]="price*quantity"
              readonly>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="!quantity">Add to Cart</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for updateProduct form -->
<div class="modal" tabindex="-1" [class.show]="showModalforupdate" [class.d-block]="showModalforupdate">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">Update Product</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitUpdateProduct()">
          <div class="form-group">
            <label for="quantity">Add Quantity</label>
            <input type="text" class="form-control" id="addQuantity" name="addQuantity" [(ngModel)]="addQuantity">
          </div>
          <div class="form-group">
            <label for="productName">Change Price To</label>
            <input type="text" class="form-control" id="changePriceTo" name="changePriceTo" [(ngModel)]="changePriceTo">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="!changePriceTo">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- modal for adding new product -->

<div class="modal fade" tabindex="-1" [class.show]="showModalfornewproduct" [class.d-block]="showModalfornewproduct">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
          <div class="mb-3">
            <label for="product_name" class="form-label">Product Name</label>
            <input type="text" id="product_name" formControlName="product_name" class="form-control">
          </div>
          <!-- Other input fields for product properties -->

          <div formArrayName="variants">
            <div *ngFor="let variant of variantsArray().controls; let i = index" class="border p-3 my-2">
              <h6>Variant {{ i + 1 }}</h6>
              <div [formGroupName]="i">
                <div class="mb-3">
                  <label for="color" class="form-label">Color</label>
                  <input type="text" id="color" formControlName="color" class="form-control">
                </div>
                <!-- Other input fields for variant properties -->
              </div>
            </div>
          </div>
          
          <div class="text-center">
            <button type="button" (click)="addVariant()" class="btn btn-sm btn-warning mt-2">Add Variant</button>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Save Product</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProductModal">
  Add New Product
</button>


