<div class="navbar">
  <a class="navbar-brand" routerLink="/">SareeFirm</a>
  <div class="navbar-search">
    <input type="text" class="search-input" placeholder="Search...">
    <button class="btn btn-primary">Search</button>
  </div> 
  <div class="cart-icon">
    <button class="btn btn-primary" (click)="addNewProduct()" *ngIf="userType == 'MainOwner'">newProduct</button>
  </div>
  <div class="cart-icon" *ngIf="userType == 'BranchOwner'">
    <i class="fas fa-shopping-cart" routerLink="/CartComponent"></i>
    <span class="cart-count" [innerText]="cartItemCount"></span>

  </div>
</div>


<div *ngFor="let product of productData">
  <div class="common-details">
    <div class="row row-md">
      <div class="col-md-6">
          <div class="row">
              <div class="col-8 col-md-12"><h2 style="color: chocolate;">{{ product.Product_name }}</h2></div>
              <span class="col-4 col-md-12"><a class="btn btn-danger smbtn" *ngIf="userType == 'MainOwner'" (click)="newVariantModal(product.Product_Id)">Add New Variant</a></span>
          </div>
      </div>
    </div>  
    <p style="color: darkgreen;">{{ product.Description }}</p>
    <p>Fabric: {{ product.Fabric }}</p>
    <p>Price Range: {{ product.Price_range }}</p>
  </div>
  <div class="movies-list">
    <div class="carousel-container">
      <div class="carousel-inner">
        <div class="card" *ngFor="let variant of product.Varients">
          <img src="../assets/images/poster 14.jpg" class="card-img" alt="saree photo">
          <div class="card-body">

            <h4 class="card-text" [ngStyle]="{ color: variant.Color}" style="font-weight: bolder; font-size: larger;">
              <span class="highlight">Color:</span> {{ variant.Color }} <span
                [ngStyle]="{ 'background-color': variant.Color }" class="color-circle"></span></h4>
            <h4 class="card-text"><span class="highlight">Design:</span> {{ variant.Design }}</h4>
            <h4 class="card-text"><span class="highlight">Qty-Available:</span> {{ variant.Quantity_Available }}</h4>
            <h4 class="card-text"><span class="highlight">Price:</span> {{ variant.Price }}</h4>
            <div class="d-flex justify-content-between align-items-center" *ngIf="userType == 'BranchOwner'">
              <a class="btn btn-primary"
                (click)="addToCart(product.Product_name, product.Product_Id, variant.Color, variant.Price)">Add to
                cart</a>
              <a href="#" class="btn btn-danger">Out of stock</a>
            </div>
            <div class="d-flex justify-content-between align-items-center" *ngIf="userType == 'MainOwner'">
              <a class="btn btn-primary" (click)="updateProducts(product.Product_Id, variant.Color)">Update Product</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Rest of the modal content (same as before) -->
<!-- <h1>this is popup</h1> -->

<!-- Modal for addToCart form -->
<div class="modal" tabindex="-1" [class.show]="showModal" [class.d-block]="showModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">Add to Cart</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="productId">Product ID</label>
            <input type="text" class="form-control" id="productId" name="productId" [(ngModel)]="productId" readonly>
          </div>
          <div class="form-group">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" id="productName" name="productName" [(ngModel)]="productName"
              readonly>
          </div>
          <div class="form-group">
            <label for="color">Color</label>
            <input type="text" class="form-control" id="color" name="color" [(ngModel)]="color" readonly>
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="quantity" required
              min="1">
          </div>
          <div class="form-group">
            <label for="totalAmount">Total Amount</label>
            <input type="text" class="form-control" id="totalAmount" name="totalAmount" [(ngModel)]="price*quantity"
              readonly>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="!quantity">Add to Cart</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for updateProduct form -->
<div class="modal" tabindex="-1" [class.show]="showModalforupdate" [class.d-block]="showModalforupdate">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">Update Product</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitUpdateProduct()">
          <div class="form-group">
            <label for="quantity">Add Quantity</label>
            <input type="text" class="form-control" id="addQuantity" name="addQuantity" [(ngModel)]="addQuantity">
          </div>
          <div class="form-group">
            <label for="productName">Change Price To</label>
            <input type="text" class="form-control" id="changePriceTo" name="changePriceTo" [(ngModel)]="changePriceTo">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="!changePriceTo">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- modal for adding new product -->

<div class="modal" tabindex="-1" [class.show]="showModalfornewproduct" [class.d-block]="showModalfornewproduct">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
          <div class="mb-3">
            <label for="Product_Id" class="form-label">Product Id</label>
            <input type="number" id="Product_Id" formControlName="Product_Id" class="form-control">
            <div *ngIf="productForm.get('Product_Id')?.hasError('required') && productForm.get('Product_Id')?.touched" class="text-danger">
              Product Id is required.
            </div>
          </div>
          <div class="mb-3">
            <label for="Branch_Id" class="form-label">Branch Id</label>
            <input type="number" id="Branch_Id" formControlName="Branch_Id" class="form-control">
            <div *ngIf="productForm.get('Branch_Id')?.hasError('required') && productForm.get('Branch_Id')?.touched" class="text-danger">
              Branch Id is required.
            </div>
          </div>
          <div class="mb-3">
            <label for="Product_name" class="form-label">Product Name</label>
            <input type="text" id="Product_name" formControlName="Product_name" class="form-control">
            <div *ngIf="productForm.get('Product_name')?.hasError('required') && productForm.get('Product_name')?.touched" class="text-danger">
              Product Name is required.
            </div>
          </div>
          <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <input type="text" id="Description" formControlName="Description" class="form-control">
            <div *ngIf="productForm.get('Description')?.hasError('required') && productForm.get('Product_Id')?.touched" class="text-danger">
              Description is required.
            </div>
          </div>
          <div class="mb-3">
            <label for="Fabric" class="form-label">Fabric</label>
            <input type="text" id="Fabric" formControlName="Fabric" class="form-control">
            <div *ngIf="productForm.get('Fabric')?.hasError('required') && productForm.get('Fabric')?.touched" class="text-danger">
              Fabric type is required.
            </div>
          </div>
          <div class="mb-3">
            <label for="Price_range" class="form-label">Price_range</label>
            <input type="text" id="Price_range" formControlName="Price_range" class="form-control">
            <div *ngIf="productForm.get('Price_range')?.hasError('required') && productForm.get('Price_range')?.touched" class="text-danger">
              Price_range is required.
            </div>
          </div>

          <div formArrayName="Varients">
            <div *ngFor="let variant of variantsArray().controls; let i = index" class="border p-3 my-2">
              <h6>Variant {{ i + 1 }}</h6>
              <div [formGroupName]="i">
                <div class="mb-3">
                  <label for="Color" class="form-label">Color</label>
                  <input type="text" id="Color" formControlName="Color" class="form-control">
                  <div *ngIf="productForm.get('Fabric')?.hasError('required') && productForm.get('Fabric')?.touched" class="text-danger">
                    Color is required.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="Price" class="form-label">Price</label>
                  <input type="number" id="Price" formControlName="Price" class="form-control">
                  <div *ngIf="productForm.get('Fabric')?.hasError('required') && productForm.get('Fabric')?.touched" class="text-danger">
                    Price is required.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="Design" class="form-label">Design</label>
                  <input type="text" id="Design" formControlName="Design" class="form-control">
                  <div *ngIf="productForm.get('Design')?.hasError('required') && productForm.get('Design')?.touched" class="text-danger">
                    Design is required.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="Image" class="form-label">Image</label>
                  <input type="text" id="Image" formControlName="Image" class="form-control">
                  <div *ngIf="productForm.get('Image')?.hasError('required') && productForm.get('Image')?.touched" class="text-danger">
                    Image url is required.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="Quantity_Available" class="form-label">Quantity_Available</label>
                  <input type="number" id="Quantity_Available" formControlName="Quantity_Available" class="form-control">
                  <div *ngIf="productForm.get('Quantity_Available')?.hasError('required') && productForm.get('Quantity_Available')?.touched" class="text-danger">
                    Quantity_Available is required.
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          
          <div class="text-center">
            <button type="button" (click)="addVariant()" class="btn btn-sm btn-warning mt-2">Add Variant</button>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Save Product</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- modal for adding new variant to product -->

<div class="modal" tabindex="-1" [class.show]="showModalfornewVariant" [class.d-block]="showModalfornewVariant">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="variantForm" (ngSubmit)="newVariant()">
          <div class="form-group">
            <label for="Color" class="form-label">Color</label>
            <input type="text" id="Color" formControlName="Color" class="form-control" placeholder="Enter saree color">
            <div class="error-message" *ngIf="variantForm.get('Color')?.hasError('required') && variantForm.get('Color')?.touched">Color is required</div>
          </div>
          <div class="form-group">
            <label for="Price" class="form-label">Price</label>
            <input type="text" id="Price" formControlName="Price" class="form-control" placeholder="Enter saree Price">
            <div class="error-message" *ngIf="variantForm.get('Price')?.hasError('required') && variantForm.get('Price')?.touched">Price is required</div>
          </div>
          <div class="form-group">
            <label for="Design" class="form-label">Design</label>
            <input type="text" id="Design" formControlName="Design" class="form-control" placeholder="Enter saree Design">
            <div class="error-message" *ngIf="variantForm.get('Design')?.hasError('required') && variantForm.get('Design')?.touched">Design is required</div>
          </div>
          <div class="form-group">
            <label for="Image" class="form-label">Image url</label>
            <input type="text" id="Image" formControlName="Image" class="form-control" placeholder="Enter saree Image url">
            <div class="error-message" *ngIf="variantForm.get('Image')?.hasError('required') && variantForm.get('Image')?.touched">Image url is required</div>
          </div>
          <div class="form-group">
            <label for="Quantity_Available" class="form-label">Quantity_Available</label>
            <input type="text" id="Quantity_Available" formControlName="Quantity_Available" class="form-control" placeholder="Enter saree Quantity_Available">
            <div class="error-message" *ngIf="variantForm.get('Quantity_Available')?.hasError('required') && variantForm.get('Quantity_Available')?.touched">Quantity_Available is required</div>
          </div>
          <!-- Repeat similar structure for other form fields -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
            <button type="submit" class="btn btn-success">Add Variant</button>
          </div>
        </form>
        <div>
          <span class="text text-success" *ngIf="successMsg">{{successMsg}}</span>
          <span class="text text-danger" *ngIf="errorMsg">{{errorMsg}}</span>
        </div>
      </div>
    </div>
  </div>
</div>




