.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    /* background: linear-gradient(to bottom, lightblue, rgb(241, 188, 229)); */
    background-color: lightblue;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 0.875rem;
    color: #777;
  }
  
  .card-text p {
    margin-bottom: 5px;
  }
  
  .card-text i {
    margin-right: 5px;
    color: #666;
  }
  
  @media (max-width: 768px) {
    .col-md-4 {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  .navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 1;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }

  .navbar-brand{
    color: white;
  }

  p{
    color: black;
    font-weight: bold;
  }

  h4{
    /* margin: auto; */
    color: darkblue;
  }

  .modal-header{
    max-height: 7%;
  }

  .registration-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input, button {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
 
  .small-button {
    margin-top: 6px;
    font-size: 14px; /* Adjust the font size as needed */
    padding: 6px 12px; /* Adjust the padding as needed */
  }

  /* Apply the blur effect to the main container when the modal is open */
.modal-open .main-container {
  position: relative;
}

/* Modern browsers that support backdrop-filter */
.modal-open .main-container::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Apply the blur effect */
}

/* Fallback for older browsers */
.modal-open .main-container::before {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
}

/* Adjust modal position and z-index */
.modal-open .modal {
  position: fixed;
  z-index: 1050;
}

  